
/*FONTS-LINK*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/*FONT STYLES*/
.poppins-font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/*SHARED ITEM*/
.display-flex{
    display: flex
}
.btn-style{
    background-color: rgba(224, 44, 109, 1);
    color: white;
    padding: 10px 24px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 42px;
    align-items: center;
    gap: 15px;

}


/*HEADER STYLE*/

header{
    max-width: 1240px;
    margin: 0 auto;

}
.nav{
    align-items: center;
    justify-content: space-between;
   
}
.nav h4{
    font-weight: bold;
    font-size: 24px;
}
.nav ul{
    list-style: none;
    justify-content: space-around;
    width: 40%;
    gap: 30px;
}
.nav a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.banner{
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    margin-top: 50px;
}
.banner-txt{
    width: 40%;
}
.banner-img{
    background-image: url(../images/Circle\ design.svg);
    height: 100%;
    width: 40%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2rem;
    padding-left: 7rem;
}
.banner img{
    width: 350px;
    height: 350px;
    
}



/*MOBILE RESPONSIVE*/
@media screen and (max-width: 576px) {
    .nav{
        flex-direction: column;
      
    }
    .nav ul{
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
        align-items: center;
        
    }
    .banner-img{
    width: 70%;
    padding: 2rem;
    }
   .banner img{
    width: 100%;
    height: auto;  
    }
    .banner-txt{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    }
    .btn-style{
        margin-top: 20px;
    }
}

/*FOR TABLET*/
@media screen and (min-width:576px) and (max-width: 900px) {
    header{
        justify-content: space-around;
    }
    .nav ul{
        width: 80%;
        
       
    }
    
}